body {
    text-align: center;
}
img {
    width: 35%;
    margin: 6rem auto auto auto;
}
input {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color:grey;
    border: 1px solid beige;
    background-color: azure;
    padding: 5px;
    border-radius: 5%;
}